ol{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
ol li{
    counter-increment: step-counter;
    margin-bottom: 5px;
}
ol li::before{
   content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(127, 177, 253);
    color: #ffffff;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 3px;
    margin-right: 10px;
}