footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}
.img--dashed img{
    border: 2px dashed #000;
}
.img--dashed{
    padding-left: 450px;
}
.h1{
    background-color: #a52a2a;
    text-align: center;
    color: #fff;
}
.img--header{
    width: 100%;
}